<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YUMMY.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F494A5BC1DB6893E00D173E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F494A5D51DB6893E00D173E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F494A5E01DB6893E00D173E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
